parametersSchema:
    glpi: structure([
        glpiPath: schema(string(), nullable()),
        glpiVersion: schema(string(), nullable()),
        enableEarlierRulesAdoption: bool()
    ])

parameters:
    glpi:
        glpiPath: null
        glpiVersion: null
        enableEarlierRulesAdoption: false

services:
    -
        class: PHPStanGlpi\Analyser\CommonDBTMCanInputParamOutTypeResolver
        tags:
            - phpstan.methodParameterOutTypeExtension
    -
        class: PHPStanGlpi\Analyser\GlobalTypeResolver
        tags:
            - phpstan.broker.expressionTypeResolverExtension
    -
        class: PHPStanGlpi\Services\GlpiPathResolver
        arguments:
            path: %glpi.glpiPath%
    -
        class: PHPStanGlpi\Services\GlpiVersionResolver
        arguments:
            version: %glpi.glpiVersion%
    -
        class: PHPStanGlpi\Services\EarlierRulesAdoptionResolver
        arguments:
            enabled: %glpi.enableEarlierRulesAdoption%
    -
        class: PHPStanGlpi\Rules\ForbidDynamicInstantiationRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanGlpi\Rules\ForbidNonLiteralSqlExpressionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
        tags:
            - phpstan.rules.rule

rules:
    # declared in `services` - PHPStanGlpi\Rules\ForbidDynamicInstantiationRule
    # declared in `services` - PHPStanGlpi\Rules\ForbidNonLiteralSqlExpressionRule
    - PHPStanGlpi\Rules\ForbidExitRule
    - PHPStanGlpi\Rules\ForbidHardCodedRightNameRule
    - PHPStanGlpi\Rules\ForbidHttpResponseCodeRule
    - PHPStanGlpi\Rules\MissingGlobalVarTypeRule
